<div class="container">
	<h2 class="song-title"><%= @song.title %></h2>
	<h3 class="songs-author">by <%= @song.artist %> in <%= @song.album %></h3>
	<h4>Movies</h4>
	<ul>
		<% @song.movies.each do |movie| %>
			<li><%= link_to(movie.title, movie_path(movie)) %></li>
		<% end %>
	</ul>

	<h5><%= link_to('Home', '/') %></h5>
</div>