<div class="container">
	<div class="row">
		<div class="col-md-5">
			<img src="<%= '/' + @album.cover %>" class="album-cover-main">
		</div>
		<div class="col-md-7 album-header">
			<h2><%= @album.title %></h2>
			<div class="album-artists"><h4>by <%= @album.artist.name %></h4></div>
		</div>
	</div>
	<div class="row album-songs-header"><h3>Songs</h3></div>
	<div class="row album-tracklist">
		<ul>
			<% @album.songs.each do |song| %>
				<li><h4><%= link_to(song.title, artist_album_song_path(@artist, @album, song)) %> (<%= song.duration %>)</h4></li>
			<% end %>
		</ul>
	</div>

	<h5><%= link_to('Home', '/') %></h5>
</div>