<!DOCTYPE html>
<html>
<head>
  <title>Soundtracking</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<nav class="navbar navbar-default" id="top_bar">
	    	<div class="col-md-12 navbar-title">
	    		<%= form_tag('/search', :method => 'get', class: "navbar-form", id: "search-form") do %>
			    	<%= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control input-lg text-box" %>
			    	<%= select_tag 'model', "<option selected>All</option><option>Movies</option><option>Artists</option><option>Albums</option><option>Songs</option>".html_safe, class: 'form-control input-lg dropdown-options' %>
			    	<%= button_tag "", class: 'input-lg btn btn-default glyphicon glyphicon-search search-button', :name => nil %>
				<% end %>
	    	</div>
		</nav>
		<nav class="navbar navbar-default navbar-fixed-top" id="scroll_bar">
	    	<div class="col-md-12 navbar-title">
	    		<%= form_tag('/search', :method => 'get', class: "navbar-form", id: "search-form") do %>
			    	<%= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control input-lg text-box" %>
			    	<%= select_tag 'model', "<option selected>All</option><option>Movies</option><option>Artists</option><option>Albums</option><option>Songs</option>".html_safe, class: 'form-control input-lg dropdown-options' %>
			    	<%= button_tag "", class: 'input-lg btn btn-default glyphicon glyphicon-search search-button', :name => nil %>
				<% end %>
	    	</div>
		</nav>
	</header>

<%= yield %>

	<footer>
		<center><small>
            ©2015 Ironhack Entertainment.
        </small></center>
	</footer>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
